In [1]:
%load_ext sql
%sql sqlite:///chinook.db

## Задание 1
Вывести названия всех групп, их песен и названия их альбомов для всех треков жанра Rock, приобретенные сотрудниками Microsoft.

In [2]:
%%sql

SELECT ar.Name as GroupName, t.Name as TrackName, al.Title as AlbumName FROM Genres g

JOIN Tracks          t  ON t.GenreId    = g.GenreId
JOIN Invoice_items   ii ON ii.TrackId   = t.TrackId 
JOIN Albums          al ON al.AlbumId   = t.AlbumId
JOIN Artists         ar ON ar.ArtistId  = al.ArtistId
JOIN Invoices        i  ON i.InvoiceId  = ii.InvoiceId
JOIN Customers       c  ON i.CustomerId = c.CustomerId

WHERE g.Name = 'Rock' AND c.Company = 'Microsoft Corporation'

 * sqlite:///chinook.db
Done.

[("Guns N' Roses", "Double Talkin' Jive", 'Use Your Illusion I'),
 ("Guns N' Roses", 'The Garden', 'Use Your Illusion I'),
 ("Guns N' Roses", "Don't Damn Me", 'Use Your Illusion I'),
 ("Guns N' Roses", 'Dead Horse', 'Use Your Illusion I'),
 ('Foo Fighters', 'No Way Back', 'In Your Honor [Disc 1]'),
 ('Foo Fighters', 'Still', 'In Your Honor [Disc 2]'),
 ('Foo Fighters', 'Razor', 'In Your Honor [Disc 2]'),
 ('Foo Fighters', 'My Hero', 'The Colour And The Shape')]

## Задание 2
Вывести 10 самых больших по размеру треков жанра Blues и формата MPEG (используйте команду LIMIT 10). Только название и автор.

In [3]:
%%sql
SELECT t.Name as TrackName,ar.Name as Author FROM Tracks t

JOIN Genres      g  ON g.GenreId     = t.GenreId
JOIN Media_Types mt ON t.MediaTypeId = mt.MediaTypeId
JOIN Albums      al ON al.AlbumId    = t.AlbumId
JOIN Artists     ar ON ar.ArtistId   = al.ArtistId

WHERE mt.Name = 'MPEG audio file' AND g.Name = 'Blues'

ORDER BY t.Bytes DESC

LIMIT 10

 * sqlite:///chinook.db
Done.

[("Talkin' 'Bout Women Obviously", 'Buddy Guy'),
 ('Riviera Paradise', 'Stevie Ray Vaughan & Double Trouble'),
 ('Title Song', 'The Black Crowes'),
 ('Old Love', 'Eric Clapton'),
 ('Wiser Time', 'The Black Crowes'),
 ('Stone Crazy', 'Buddy Guy'),
 ('Layla', 'Eric Clapton'),
 ('Girl From A Pawnshop', 'The Black Crowes'),
 ('Sometimes Salvation', 'The Black Crowes'),
 ('Running On Faith', 'Eric Clapton')]

## Задание 3
Для каждой компании вывести общее количество купленных джазовых композиций.

In [7]:
%%sql

SELECT c.Company, count(c.Company) as count FROM Customers c
--SELECT * FROM Customers c

JOIN Invoices       i   ON i.CustomerId = c.CustomerId
JOIN Invoice_Items  ii  ON ii.InvoiceId = i.InvoiceId
JOIN Tracks         t   ON t.TrackId    = ii.TrackId
JOIN Genres         g   ON g.GenreId    = t.GenreId

WHERE g.Name = 'Jazz' AND c.Company IS NOT null

GROUP BY c.Company

 * sqlite:///chinook.db
Done.

[('Apple Inc.', 2),
 ('Google Inc.', 2),
 ('JetBrains s.r.o.', 3),
 ('Microsoft Corporation', 2),
 ('Telus', 2)]

## Задание 4
Вывести топ 3 альбома по продолжительности (продолжительность альбома - сумма длин треков в нём). Только название и продолжительность.

In [5]:
%%sql

--SELECT * FROM Albums al
SELECT al.Title as AlbumName, sum(t.Milliseconds) as duration FROM Albums al

JOIN Tracks t ON al.AlbumId = t.AlbumId

GROUP BY al.Title

ORDER BY duration DESC

LIMIT 3

 * sqlite:///chinook.db
Done.

[('Lost, Season 3', 70665582),
 ('Battlestar Galactica (Classic), Season 1', 70213784),
 ('Lost, Season 1', 64854936)]

## Задание 5
Для каждого набора (жанр, тип медиа) вывести среднюю цену по стоимости трека и их общее количество, причем вывести только те наборы, для которых **все** треки стоят больше 1,5$ и для которых в наборе есть хотя бы один трек.

In [6]:
%%sql

SELECT g.Name as Genre, mt.Name as MediaType, avg(t.UnitPrice) as average, count(*) as count FROM Genres g

JOIN Tracks      t  ON t.GenreId      = g.GenreId
JOIN Media_Types mt ON mt.MediaTypeId = t.MediaTypeId

GROUP BY g.Name, mt.Name
having min(t.UnitPrice) > 1.5 AND count > 0

 * sqlite:///chinook.db
Done.

[('Comedy', 'Protected MPEG-4 video file', 1.9899999999999995, 17),
 ('Drama', 'Protected MPEG-4 video file', 1.9899999999999978, 64),
 ('Sci Fi & Fantasy', 'Protected MPEG-4 video file', 1.9900000000000004, 26),
 ('Science Fiction', 'Protected MPEG-4 video file', 1.9899999999999995, 13),
 ('TV Shows', 'Protected MPEG-4 video file', 1.990000000000001, 93)]