# Лекция 1
# Базовый SQL

In [1]:
!pip install ipython-sql #не обязательно запускать в colab

ERROR: Invalid requirement: '#не'

[notice] A new release of pip is available: 23.0.1 -> 23.2.1
[notice] To update, run: E:\Programs\Python 3.10\python.exe -m pip install --upgrade pip

In [2]:
%load_ext sql
%sql sqlite://

In [3]:
%%sql
select 'Hello, world';

 * sqlite://
Done.

[('Hello, world',)]

Пара замечаний:
 * Мы используем веб-интерфейс для python, поэтому для запуска SQL запросов необходимо применить ряд вещей:
     * Необходимо подключить расширение SQL через так называемые magic command. [Более подробно здесь](https://ipython.readthedocs.io/en/stable/interactive/magics.html)
     * Для работы с SQL надо вызвать либо %sql для однострочной команды, либо %%sql - для многострочной
     * При использовании выражения SELECT результатом вывода является таблица, но при этом в notebook выводится уже внутренне представление языка python (объект класса sql.run.resultset, подробности далее), что приводит к ряду несоответствий (например, None вместо NULL)

Давайте создадим таблицу, заполним ее и сделаем какой-нибудь запрос!

In [4]:
%%sql

drop table if exists product;

create table product(
       pname        varchar(20) primary key,  -- имя продукта
       price        money,                    -- цена продукта; money = decimal(n,2)
       category     char(20),                 -- категория
       manufacturer varchar(20) NOT NULL      -- производитель
);

insert into product (pname, price, category, manufacturer) values
('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг');

insert into product values('Клавиатура', 949.99, 'Техника', 'Sven');

insert into product
    values ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
           ('Батарейка', 39.99, 'Для дома', 'Energizer'),
           ('Энергетик', 89.00, 'Напитки', 'Redbull');

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.
3 rows affected.

[]

In [45]:
%%sql
insert into product (pname, category) values ('Маркер', 'Канцелярия');

 * sqlite://
(sqlite3.IntegrityError) NOT NULL constraint failed: product.manufacturer
[SQL: insert into product (pname, category) values ('Маркер', 'Канцелярия');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

Посмотрим на полученную таблицу.

In [6]:
%sql select * from product;

 * sqlite://
Done.

[('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Батарейка', 39.99, 'Для дома', 'Energizer'),
 ('Энергетик', 89, 'Напитки', 'Redbull')]

# Немного SQL терминологии
* _имя_ таблицы - product.
* Каждая строка таблицы называется _строкой_ или _кортежем_.
* Заметьте, что все кортежи имеют _поля_ или _атрибуты_.
* Количество строк называет _мощностью_, в то время как количество атрибутов _арностью_

# Простые запросы
* Рассмотрим основы SQL на примере

> SELECT <Множество атрибутов><br>
> FROM <список таблиц и условие на соединение><br>
> WHERE <список условий>

Это простейший SELECT-FROM-WHERE (SFW) блок. Давайте посмотрим на примерах!

In [7]:
%%sql
SELECT *
FROM Product
WHERE category = 'Канцелярия' AND manufacturer = 'Brauberg';

 * sqlite://
Done.

[('Степлер', 129.99, 'Канцелярия', 'Brauberg')]

\* \- В данном случае обозначает вывод всех полей, которые были описаны во FROM

Посмотрим на примеры *проекции*, то есть получим только несколько атрибутов запроса.

In [8]:
%%sql
SELECT Pname,
       Price,
       Manufacturer
  FROM Product;

 * sqlite://
Done.

[('Тетрадь', 39.99, 'Академия холдинг'),
 ('Клавиатура', 949.99, 'Sven'),
 ('Степлер', 129.99, 'Brauberg'),
 ('Батарейка', 39.99, 'Energizer'),
 ('Энергетик', 89, 'Redbull')]

* На выходе *все еще* таблица и ее схема -
> Answer(pname, price, manufacturer)

* Можно объединять выборку и проекцию + менять результат

In [9]:
%%sql
SELECT Pname, Price * 2 as newname, Manufacturer
FROM Product
WHERE category in ('Напитки', 'Канцелярия');

 * sqlite://
Done.

[('Тетрадь', 79.98, 'Академия холдинг'),
 ('Степлер', 259.98, 'Brauberg'),
 ('Энергетик', 178, 'Redbull')]

In [10]:
%%sql
SELECT pname || '->' || price || '->' || manufacturer as concatination
FROM Product
WHERE category = 'Напитки';

 * sqlite://
Done.

[('Энергетик->89->Redbull',)]

На выходе запроса к таблице - снова таблица

In [11]:
%%sql
SELECT manufacturer
FROM Product p0
WHERE p0.price < 100.00;

 * sqlite://
Done.

[('Академия холдинг',), ('Energizer',), ('Redbull',)]

In [12]:
%%sql
SELECT *
FROM
    (SELECT p0.manufacturer
     FROM Product p0
     WHERE p0.price < 100.00) p1, -- вложенный запрос
    Product p

 * sqlite://
Done.

[('Академия холдинг', 'Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Академия холдинг', 'Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Академия холдинг', 'Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Академия холдинг', 'Батарейка', 39.99, 'Для дома', 'Energizer'),
 ('Академия холдинг', 'Энергетик', 89, 'Напитки', 'Redbull'),
 ('Energizer', 'Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Energizer', 'Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Energizer', 'Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Energizer', 'Батарейка', 39.99, 'Для дома', 'Energizer'),
 ('Energizer', 'Энергетик', 89, 'Напитки', 'Redbull'),
 ('Redbull', 'Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Redbull', 'Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Redbull', 'Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Redbull', 'Батарейка', 39.99, 'Для дома', 'Energizer'),
 ('Redbull', 'Энергетик', 89, 'Напитки', 'Redbull')]

In [13]:
%%sql

SELECT
    p.manufacturer, p.pname, p.price as name_price
FROM
    (SELECT p0.manufacturer
     FROM Product p0
     WHERE p0.price < 100.00) p1, -- вложенный запрос
    Product p
WHERE
    p.manufacturer = p1.manufacturer AND p.category = 'Канцелярия';

 * sqlite://
Done.

[('Академия холдинг', 'Тетрадь', 39.99)]

Небольшие детали
--------------

* Некоторые элементы регистро-независимые:
  * Одно и то же: SELECT  Select  select
  * Одно и то же: Product   product
  * Разные: ‘Brauberg’  ‘brauberg’ (Здесь это строковая константа)

In [14]:
%%sql
select * from product;

 * sqlite://
Done.

[('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Батарейка', 39.99, 'Для дома', 'Energizer'),
 ('Энергетик', 89, 'Напитки', 'Redbull')]

LIKE
====
Регулярные выражения (упрощенный вариант)

Опертор LIKE нужен для поиска строк:
    
> SELECT *
> FROM Products
> WHERE pname like '%подстрока%'

* % - сколько угодно символов
* \_ ровно один символ
* оператор LIKE - регистрозависимый

In [15]:
%%sql
SELECT * FROM product
where category LIKE '%ка%';

 * sqlite://
Done.

[('Клавиатура', 949.99, 'Техника', 'Sven')]

In [16]:
%%sql
SELECT * FROM product
where category LIKE '_а%';

 * sqlite://
Done.

[('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Энергетик', 89, 'Напитки', 'Redbull')]

Убрать дубли
---------------------
* Дубли не всегда хорошо, и иногда их стоит убирать
  * Помните, что таблицы - _мультимножества_!

In [17]:
%%sql
SELECT category from product;

 * sqlite://
Done.

[('Канцелярия',), ('Техника',), ('Канцелярия',), ('Для дома',), ('Напитки',)]

In [18]:
%%sql
-- чтобы убрать дубли используйте слово DISTINCT
SELECT DISTINCT category,price from product;

 * sqlite://
Done.

[('Канцелярия', 39.99),
 ('Техника', 949.99),
 ('Канцелярия', 129.99),
 ('Для дома', 39.99),
 ('Напитки', 89)]

Сортировка результатов
---------------------
* Так как Таблица - это мультимножество, то порядок вывода строк не гарантирован. Иногда необходимо выводить строки в определенном порядке

In [19]:
%%sql
-- сортировка результатов
-- сортировка по умолчанию - ascending
SELECT   pname, price, manufacturer
FROM     Product
WHERE    price < 400
ORDER BY price, manufacturer;

 * sqlite://
Done.

[('Батарейка', 39.99, 'Energizer'),
 ('Тетрадь', 39.99, 'Академия холдинг'),
 ('Энергетик', 89, 'Redbull'),
 ('Степлер', 129.99, 'Brauberg')]

In [20]:
%%sql
-- сортировка результатов
-- тип сортировки каждого компонента определяется индивидуально
SELECT   price, manufacturer
FROM     Product
ORDER BY manufacturer ASC, price DESC;

 * sqlite://
Done.

[(129.99, 'Brauberg'),
 (39.99, 'Energizer'),
 (89, 'Redbull'),
 (949.99, 'Sven'),
 (39.99, 'Академия холдинг')]

Можно делать сортировку по порядковому номеру, но довольно часто это считается bad practice

In [21]:
%%sql
SELECT   price, manufacturer
FROM     Product
ORDER BY 2 ASC, 1 DESC;

 * sqlite://
Done.

[(129.99, 'Brauberg'),
 (39.99, 'Energizer'),
 (89, 'Redbull'),
 (949.99, 'Sven'),
 (39.99, 'Академия холдинг')]

Работа с несколькими таблицами
------


* Рассмотрим таблицу компаний.
> company(<u>cname</u>, production, country)

In [22]:
%%sql
drop table if exists company;

create table company (
    cname varchar(20) primary key,    -- Имя
    production varchar(30),           -- Продукция
    country varchar(20));             -- Страна

insert into company values ('Brauberg', 'Товары для офиса', 'Россия');
insert into company values ('Energizer', 'Аккумуляторы', 'США');
insert into company values ('Sven', 'Акустическая система и компьютерная периферия', 'Финляндия');

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Внешние ключи
-----------------------
* Допустим мы ходим добавить таблицу продуктов

> Product(pname, price, category, manufacturer)

* Может возникнуть следующая ситуация: есть компания, продающая какие-то продукты, но при этом она отсутствует в таблице компаний.
* Чтобы избежать это, воспользуемя _внешними ключами_

Назвнание компании в product _ссылается_ на поле cname из таблицы company:

> foreign key (manufacturer) references company(cname)

  * Замечание: cname <u>должно быть</u> ключом в  company!

In [23]:
%%sql

drop table if exists product;

pragma foreign_keys = ON; -- WARNING by default off in sqlite

create table product(
       pname        varchar primary key,  -- имя продукта
       price        money,                -- цена продукта
       category     varchar,              -- категория
       manufacturer varchar NOT NULL,      -- производитель
       foreign key (manufacturer) references company(cname)
);

insert into product values('Клавиатура', 949.99, 'Техника', 'Sven');
insert into product values('Наушники', 1999.99, 'Техника', 'Sven');
insert into product values('Степлер', 129.99, 'Канцелярия', 'Brauberg');
insert into product values('Маркер', 59.99, 'Канцелярия', 'Brauberg');
insert into product values('Батарейка', 39.99, 'Для дома', 'Energizer');

 * sqlite://
Done.
Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

Внешние ключи являются _ограничениями_ таблицы
> Что случится при вставке компании, которой не в таблице company?

In [24]:
%%sql
insert into product values('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг');

 * sqlite://
(sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: insert into product values('Тетрадь', 39.99, 'Канцелярия', 'Академия холдинг');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [25]:
%%sql
select * from product;

 * sqlite://
Done.

[('Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Наушники', 1999.99, 'Техника', 'Sven'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg'),
 ('Маркер', 59.99, 'Канцелярия', 'Brauberg'),
 ('Батарейка', 39.99, 'Для дома', 'Energizer')]

In [26]:
%%sql
select * from company;

 * sqlite://
Done.

[('Brauberg', 'Товары для офиса', 'Россия'),
 ('Energizer', 'Аккумуляторы', 'США'),
 ('Sven', 'Акустическая система и компьютерная периферия', 'Финляндия')]

Внешние ключи и удаление
=============

* Что произойдет, если мы удалим компанию ? Несколько вариантов:
  * Запретить удаление (default)
  * Удалить все продукты (добавьте "`on delete cascade`")
  * Замена на  NULL или DEFAULT

**Первый вариант (default)- Удаление запрещено**

In [27]:
%sql delete from company where cname = 'Brauberg';

 * sqlite://
(sqlite3.IntegrityError) FOREIGN KEY constraint failed
[SQL: delete from company where cname = 'Brauberg' ;]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

**Второй вариант: удалить все продукты, принадлежащие компании, которую мы удаляем**

Необходимо изменить опеределение в create table:
> foreign key (manufacturer) references company(cname) on delete cascade

Теперь, когда строка компании удалена, все продукты с указанной компанией, будут также удалены.

Соединения
------
> Product (<u>pname</u>,  price, category, manufacturer)<br>
> Company (<u>cname</u>, production, country)

Мы хотим ответить на вопрос

> Найти все продукты меньшие 100р, произведенные в России

> Возвратить их имена и цену.

In [28]:
%%sql
SELECT pname, price
FROM product, company
where manufacturer=cname and country='Россия' and price < 100;

 * sqlite://
Done.

[('Маркер', 59.99)]

Другой вариант написания запроса.

In [29]:
%%sql
-- Часть 1: выбрать все компании из России
SELECT distinct cname -- нужна ли нам уникальность?
from company where country='Россия';

 * sqlite://
Done.

[('Brauberg',)]

In [30]:
%%sql
-- Часть 2: Продукты до 100
select pname, price, manufacturer
from product
where price <= 100;

 * sqlite://
Done.

[('Маркер', 59.99, 'Brauberg'), ('Батарейка', 39.99, 'Energizer')]

In [31]:
%%sql
-- Объединение как cross join
SELECT *
FROM
  (SELECT DISTINCT pname, price, manufacturer
   FROM product
   WHERE price <= 100) CheapProducts,
  (SELECT DISTINCT cname
   FROM company
   WHERE country='Россия') RusProducts;

 * sqlite://
Done.

[('Батарейка', 39.99, 'Energizer', 'Brauberg'),
 ('Маркер', 59.99, 'Brauberg', 'Brauberg')]

In [32]:
%%sql
-- Фильтруем cross join
SELECT DISTINCT pname, price
FROM
  (SELECT DISTINCT pname, price, manufacturer
   FROM product
   WHERE price <= 100) CheapProducts,
  (SELECT distinct cname
   FROM company
   WHERE country='Россия') RusProducts
WHERE cname = manufacturer;

 * sqlite://
Done.

[('Маркер', 59.99)]

# Использование конструкции JOIN

Есть другой вариант записи - через конструкцию JOIN. Кроме этого она позволяет делать также внешние запросы.

In [33]:
%%sql
SELECT *
  FROM product p
  JOIN company c
    ON p.manufacturer = c.cname
 WHERE c.country='Россия'
   AND p.price <= 100;

 * sqlite://
Done.

[('Маркер', 59.99, 'Канцелярия', 'Brauberg', 'Brauberg', 'Товары для офиса', 'Россия')]

Примечания
--------
* Есть множество логических вариантов написать один и тот же запрос
    * Этот факт будет использоваться для оптимизации

Дубли после соединения
--------------------------

Замечание - могут возникнуть дубли после соединения...

In [34]:
%%sql
SELECT Country
FROM Product, Company
WHERE manufacturer=cname AND category='Канцелярия';

 * sqlite://
Done.

[('Россия',), ('Россия',)]

# Ограничение и смещение

Вывести топ 3 товара по дороговизне

In [35]:
%%sql
SELECT * FROM Product
ORDER BY price DESC
LIMIT 3;

 * sqlite://
Done.

[('Наушники', 1999.99, 'Техника', 'Sven'),
 ('Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Степлер', 129.99, 'Канцелярия', 'Brauberg')]

Вывести 2, 3 и 4 товары по алфавиту

In [36]:
%%sql
SELECT * FROM Product
ORDER BY pname
LIMIT 3 OFFSET 1;

 * sqlite://
Done.

[('Клавиатура', 949.99, 'Техника', 'Sven'),
 ('Маркер', 59.99, 'Канцелярия', 'Brauberg'),
 ('Наушники', 1999.99, 'Техника', 'Sven')]

# Группировка

Можно осуществлять схлопывание строк в рамках каких-нибудь групп

После схлопывания можно применять так называемые агрегатные функции

AVG(<поле>)

SUM(<поле>)

MIN(<поле>)

MAX(<поле>)

COUNT(<поле>)

COUNT(*)

AVG(distinct <поле>)

SUM(distinct <поле>)

COUNT(distinct <поле>)

In [37]:
%%sql
select category, avg(price), min(price), max(price), sum(price)
from Product
group by category;

 * sqlite://
Done.

[('Для дома', 39.99, 39.99, 39.99, 39.99),
 ('Канцелярия', 94.99000000000001, 59.99, 129.99, 189.98000000000002),
 ('Техника', 1474.99, 949.99, 1999.99, 2949.98)]

Существует возможность фильтровать не только по строкам, но и по группам. Для этого можно использовать инструкцию HAVING

In [38]:
%%sql
select category, avg(price), min(price), max(price), count(price)
from Product
group by category
having min(price) < 100;

 * sqlite://
Done.

[('Для дома', 39.99, 39.99, 39.99, 1),
 ('Канцелярия', 94.99000000000001, 59.99, 129.99, 2)]

In [39]:
%%sql
select category, count(*) as star, count(category) as cat, count(distinct category) as dist
from Product
group by category;

 * sqlite://
Done.

[('Для дома', 1, 1, 1), ('Канцелярия', 2, 2, 1), ('Техника', 2, 2, 1)]

count(*) - кол-во строк

count(<поле>) - кол-во непустых строк

count(distinct <поле>) - кол-во уникальных непустых строк

In [40]:
%%sql
drop table if exists numbers;

create table numbers(a int, b int);

insert into numbers
  values (1,2), (2,3), (4,null), (null,null), (null,5);

 * sqlite://
Done.
Done.
5 rows affected.

[]

In [41]:
%%sql
select * from numbers;

 * sqlite://
Done.

[(1, 2), (2, 3), (4, None), (None, None), (None, 5)]

In [42]:
%%sql
select sum(a+b) as sum1,
       sum(a) + sum(b) as sum2
       from numbers;

 * sqlite://
Done.

[(8, 17)]

In [43]:
%%sql
select a || '+' || b as concat
       from numbers;

 * sqlite://
Done.

[('1+2',), ('2+3',), (None,), (None,), (None,)]

In [44]:
%%sql
select *
  from numbers
where a>0;

 * sqlite://
Done.

[(1, 2), (2, 3), (4, None)]